.header {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  img {
    @media (max-width: 768px) {
      width: 145px;
      height: 47px;
    }
  }

  .navbar {
    display: flex;
    gap: 30px;
    .link {
      text-decoration: none;
      color: black;
    }
  }
}
