.collaps {
  width: 100%;
  display: flex;
  background-color: #ff6060;
  height: 52px;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
}
.collaps__description {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.collaps__description.open {
  max-height: 200px;
  padding: 15px;
  background-color: #f6f6f6;
}

.collaps__description.closed {
  max-height: 0;
  padding: 0 15px;
}
.collaps__paragraph {
  margin-top: 0;
  padding: 0;
}

.icon {
  transition: transform 0.3s ease-out;
}

.rotate {
  transform: rotate(-180deg);
}
.collapsContainer {
  display: flex;
  flex-direction: column;
  max-width: 1023px;
  margin: 20px auto 40px;
  gap: 20px;
  @media (max-width: 768px) {
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}
