.cards {
  margin-bottom: 20px;
  ul {
    max-width: 1240px;
    margin: auto;
    padding: 55px;
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    border-radius: 25px;
    box-sizing: border-box;
    gap: 55px;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      width: 100%;
      padding: 9px 9px 0 9px;
      background-color: white;
      margin: 9px 0 0 0;
      gap: 20px;
    }
  }

  @media (max-width: 768px) {
    justify-content: start;
  }
}

.unitCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  li {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 340px; // Hauteur maximale
    box-sizing: border-box;
    @media (max-width: 1024px) {
      max-width: 100%;
      margin: 0;
    }

    @media (max-width: 768px) {
      max-width: 440px;
      width: 100%;
      padding: 0 11px;
      height: 255px;
    }

    h3 {
      position: absolute;
      font-size: 18px;
      width: 62%;
      color: #ffffff;
      bottom: 5px;
      left: 10px;
      z-index: 10;
      @media (max-width: 768px) {
        margin-left: 10px;
      }
    }

    img {
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
      box-sizing: border-box;
      height: 100%;
      @media (max-width: 1024px) {
        max-width: 100%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0px;
      width: 100%;
      height: 50%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
      border-radius: 0 0 10px 10px;
      z-index: 5;
      box-sizing: border-box;
      @media (max-width: 1024px) {
        height: 40%;
      }

      @media (max-width: 768px) {
        height: 30%;
        width: 100%;
        width: calc(100% - 20px);
        margin: 0 10px;
      }
    }
  }
  &__link {
    display: flex;
    justify-content: center;

    box-sizing: border-box;
  }
}
