.banner {
  max-width: 1240px;
  width: 100%;
  height: auto;
  margin: 50px auto;
  margin-bottom: 35px;

  @media (max-width: 768px) {
    max-width: 100%; /* Assure que la bannière prend toute la largeur disponible en mode téléphone */
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0 10px;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: 223px;
    object-fit: cover; /* L'image remplira la div en conservant ses proportions */
    object-position: center; /* Centrer l'image dans la div */
    border-radius: 25px;
    filter: brightness(50%);
    @media (max-width: 768px) {
      height: 111px;
      width: 100%;
    }
  }
  .banner__title {
    position: absolute;
    top: 25%;
    left: 50%;
    color: white;
    font-size: 48px;
    font-weight: 700;
    transform: translate(-50%, -50%);
    @media (max-width: 1024px) {
      font-size: 36px;
    }
    @media (max-width: 768px) {
      width: 65%;
      font-size: 24px;
      color: white;
      top: 14%;
      left: 50%;
    }
  }
  @media (max-width: 768px) {
  }
}
